<p> <%= flash[:pesan] %></p>
<a href="/cars/input">Tambah Data</a>
<table border=1>
<tr> 
	<td> Merk </td>
	<td> Publish</td>
	<td> Harga</td>
	<td> Action</td>
</tr>
<% @data.each do |value| %>
<tr>
	<td><%= value.merk %></td>
	<td><%= value.publish %>
	<td><%= value.harga %>
	<td><a href="/cars/edit/<%=value.id %>">Edit</a> ||<a href="/cars/detail/<%=value.id %>">Detail</a> ||
	<a href="/cars/delete/<%=value.id %>" onClick="return confirm('Yakin Hapus Data ?')">Hapus</a> 
	</td> 
</tr>
<% end %>
<table>